{% extends "auctions/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
    <h2>Items On Your Watchlist</h2>
    {% for w in watch %}
        <a href="{% url 'view_listing' w.items.id %}"><h3>{{ w.items.item}}</h3></a>
        {% if w.items.image_url != null %}
            <img class="item_image" src="{{w.items.image_url}}" height="120">
        {% else %}
            <p>No Picture given.</p>
        {% endif %}
    <h4>Current Bid: $ {{w.items.current_bid}}</h4>    
    {% endfor %}

{% else %}
    <h2>You must be logged in to view watchlist</h2>    
{% endif %}    
{% endblock %}